:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol,li{
    list-style: none;

}
body{
 padding: 0 80px;
 font-family: "Poppins", sans-serif;
background-color: var(--secundary-color);
}
header{
    position: fixed;
    height: 60px;
    width: calc(100% - 160px);
    top: 60px;
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: space-between;

}
header li{ 
    padding:4px 8px;
    transition: .5s;
}
header li:hover{
    background-color: var(--secundary-color);
    box-shadow: 0 4px 8px #0005;
}
.login{
    height: 48px;
    width: 120px;
    border: none;
    border-radius: 12px;
    background-color: var(--secundary-color);
    box-shadow: 0 4px 8px #0008;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
span{
    color: var(--primary-color);
}
main{
    height: 500px;
    
}
footer{
    height: 526px;
}