:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
    --default-shadow: 0 4px 8px #0005;
    --default-padding: 0 80px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol,li{
    list-style: none;

}
body{
 font-family: "Poppins", sans-serif;     
 background-color: var(--secundary-color);
}
header{
    padding:0 80px;
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header menu{
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: space-between;

}
header li { 
    padding:4px 8px;
    transition: .5s;
}
header li:hover{
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
    
}
.login{
    height: 48px;
    width: 120px;
    border: none;
    border-radius: 12px;
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.login:hover{
    box-shadow: var(--default-shadow);
}
span{
    color: var(--primary-color);
}
main{
    
}
section{
    height: 100vh;
}
.home{
    background-color: var(--secundary-color);
    background-image: url(img/background.svg);
    background-repeat: no-repeat;
    background-position: top right;
}
.cardapio{
    background-color: aqua;
}
.servicos{
    background-color: blue;
}
footer{
    height: 526px;
}